@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700;900&display=swap');

html {
  height: 100%;
}

body {
  background: url('/media/homepage_background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 164px);
  color: #0F1519;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.logo-font {
  text-transform: uppercase;
}

.logo-icon {
  max-height: 38px;
}

.main-logo-link {
  width: fit-content;
}

/*--------------------------------
 Shop Now Button on Main Page 
 --------------------------------*/
.shop-now-button {
  text-decoration: none;
  position: relative;
  border: none;
  font-family: inherit;
  font-weight: 900;
  color: #69101E;
  min-width: 200px;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #69101E, #A42435, #7A92A5, #6A7F91, #A42435, #69101E);
  background-size: 300%;
  border-radius: 4px;
  z-index: 1;
}

.shop-now-button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.shop-now-button:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #7A92A5, #6A7F91, #69101E, #A42435, #6A7F91, #7A92A5);
  background-size: 400%;
  border-radius: 4px;
  transition: 1s;
}

.shop-now-button:hover::before {
  filter: blur(20px);
}

.shop-now-button:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

.btn-black {
  background: black;
  color: white;
}

.text-black {
  color: #0F1519 !important;
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}

.text-gray {
  color: #6A7F91 !important;
}

.text-xsmall {
  font-size: 0.8rem;
  color: #0F1519;
}

.border-black {
  border: 1px solid black !important;
}

.bg-black {
  background: #0F1519 !important;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: white;
  z-index: -1;
}

a.category-badge>span.badge:hover {
  background: #0F1519 !important;
  color: #fff !important;
}

.product-title {
  margin-top: 15px;
  font-size: x-large;
  font-weight: 600;
  color: #0F1519;
}

.product-price {
  font-size: x-large;
}

.badge {
  font-size: small;
  padding: 5px;
}

.product-condition-badge {
  position: absolute;
  padding: 5px;
  top: 30px;
  right: 5px;
  background-color: #A42435;
  color: #fff;
}

.product-condition-badge-lg {
  position: absolute;
  padding: 5px;
  top: 30px;
  right: 5px;
  height: 40px;
  background-color: #A42435;
  color: #fff;
}

.card-body {
  position: relative;
}

.img-card {
  min-height: 200px;
  max-height: 200px;
}

.card-info {
  font-size: x-small;
  font-weight: 700;
  color: #69101E;
}

.card-info-icon {
  font-size: x-large;
  color: #69101E;
}

.card-footer {
  background-color: #fff !important;
}

/* ------------------------------- 
        Bootstrap toasts 
-------------------------------*/
.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* -------------------------------
from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ 
-------------------------------*/
.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* -------------------------------
Convenience classes - colors copied from Bootstrap 
-------------------------------*/
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* --------------------------------
          Product Card 
--------------------------------*/
.card {
  background-image: linear-gradient(163deg, #7A92A5 0%, #A42435 100%);
  border-radius: 8px;
  transition: all .3s;
}

.card2 {
  background-color: #fff;
  transition: all .2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 8px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px #69101e4d;
}

/* --------------------------------
        Product Carousel 
--------------------------------*/
.carousel-control {
  width: 20px;
  background-color: #0f15190e;
  border: solid #fff 0;
  border-radius: 4px;
}

.carousel-control:hover {
  background-color: #0f15196c;
}

.carousel-control-icon,
.carousel-control-next-icon {
  color: #0F1519;
}

/*--------------------------------
         Product Form 
--------------------------------*/
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 4px;
  border-color: #A42435;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #A42435;
  border-color: #A42435;
  border-radius: 4px;
}

/* Link */
.a-link {
  line-height: 2;
  position: relative;
  font-weight: 400;
  color: #6A7F91;
}

.a-link::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #6A7F91;
  position: absolute;
  bottom: -.25rem;
  left: 0;
  transition: width .4s;
}

.a-link:hover::before {
  width: 100%;
}

.a-link>a,
a:hover {
  text-decoration: none;
}

/* Go to TOP */
.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

input[name='q']::placeholder {
  color: #7a92a5;
}


/* Card - Add to bag btn */
.add-to-bag-card-btn {
  font-size: 17px;
  color: #6A7F91;
  font-family: inherit;
  font-weight: 600;
}

.add-to-bag-card-btn:hover {
  animation: shake3856 0.3s linear infinite both;
}

@keyframes shake3856 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/*-------------------------------- 
        BAG
--------------------------------*/
.bag-image {
  height: 50px;
}

.btn-pay {
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px #0F1519;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
}

.btn-pay-width {
  width: 200px;
}

.btn-pay-icon {
  padding-left: 15px;
}

.btn-pay span:first-of-type {
  color: white;
}

.btn-pay::before {
  width: calc(100% + 40px);
  aspect-ratio: 1/1;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -20px;
  top: 50%;
  transform: translate(-150%, -50%);
  transition-duration: .5s;
  mix-blend-mode: difference;
}

.btn-pay:hover::before,
.btn-pay-icon:hover::before {
  transform: translate(0, -50%);
}

.btn-pay:active,
.btn-pay-icon:active {
  transform: translateY(4px);
  transition-duration: .3s;
}

/* ------------------------------- 
      AllAuth  
-------------------------------*/
.allauth-form-inner-content p {
  margin-top: 1.5rem;
  color: #6A7F91;
}

.allauth-form-inner-content input {
  border-color: #7a92a5;
  color: #0f1519;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #7a92a5;
}

.btn-aa {
  width: 15em;
  position: relative;
  height: 2.5em;
  border: 1px ridge #7a92a5;
  outline: none;
  background-color: transparent;
  color: #6A7F91;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn-aa a {
  text-decoration: none;
}

.btn-aa::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #fff;
  transition: 0.5s;
  transform-origin: center;
}

.btn-aa::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #fff;
  transition: 0.5s;
}

.btn-aa:hover::before,
.btn-aa:hover::after {
  transform: scale(0)
}

.btn-aa:hover {
  box-shadow: inset 0px 0px 25px #7A92A5;
}

/* -------------------------------- 
        Category Badge 
 --------------------------------*/
.cat-badge-icon {
  height: 24px;
  width: 24px;
  font-size: 24px;
  margin-bottom: 12px;
}

/* -------------------------------- 
        Footer 
 --------------------------------*/
footer {
  background-color: #fff;
}

.footer-lg-font {
  font-size: 1.2rem;
}

.social-link {
  color: #6A7F91;
  line-height: 2;
  position: relative;
  font-weight: 600;
}

.social-link::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #6A7F91;
  position: absolute;
  bottom: -.25rem;
  left: 0;
  transition: width .4s;
}

.social-link:hover::before {
  width: 100%;
}

.social-link>a,
a:hover {
  color: #6A7F91;
  text-decoration: none;
}

/* Social icons/links */
.social-card {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: #fff;
}

/* social containers */
.socialContainer {
  width: 42px;
  height: 42px;
  background-color: #A42435;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}

/* instagram */
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}

/* twitter */
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}

/* linkdin */
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}

/* Whatsapp */
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* -------------------------------- 
Media Queries 
--------------------------------*/
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .header-container {
    padding-top: 164px;
  }
}

/* pad top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {

  .header-container {
    padding-top: 136px;
  }

  body {
    height: calc(100vh - 136px);
  }

  .logo-font {
    font-size: 1.8rem;
  }

  .logo-paragraph {
    font-size: 1rem;
  }

  .display-4.logo-font.text-black {
    font-size: 1.8rem;
  }

  .nav-link {
    padding: 0.15rem;
  }

  .nav-link i.fa-lg {
    font-size: 1rem;
  }

  .navbar-toggler {
    padding: .6rem .6rem;
    font-size: 1rem;
  }

  #delivery-banner h4 {
    font-size: .9rem;
  }

  .increment-qty,
  .decrement-qty {
    padding: .25rem .5rem !important;
  }

  /* Footer font */
  .footer-lg-font {
    font-size: 1rem;
  }

  .footer-social-link {
    font-size: 0.8rem;
  }
}