@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700;900&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #6A7F91;
    font-family: 'Montserrat', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* Shop Now Button on Main Page */
.shop-now-button {
    text-decoration: none;
    position: relative;
    border: none;
    font-family: inherit;
    font-weight: 900;
    color: #69101E;
    min-width: 200px;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #69101E, #A42435,#7A92A5,#6A7F91,  #A42435,#69101E);
    background-size: 300%;
    border-radius: 4px;
    z-index: 1;
  }
  
  .shop-now-button:hover {
    animation: ani 8s linear infinite;
    border: none;
  }
  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  
  .shop-now-button:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #7A92A5,#6A7F91, #69101E, #A42435 ,#6A7F91, #7A92A5);
    background-size: 400%;
    border-radius: 4px;
    transition: 1s;
  }
  
  .shop-now-button:hover::before {
    filter: blur(20px);
  }
  
  .shop-now-button:active {
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  }


.btn-black {
    background: black;
    color: white;
}

/* .shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
} */

.text-black {
    color: #0F1519 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
  background: #0F1519 !important;
}

.overlay{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: white;
  z-index: -1;
}

a.category-badge > span.badge:hover {
  background: #0F1519 !important;
  color: #fff !important;
}

.product-title{
  margin-top: 15px;
  font-size: x-large;
  font-weight: 600;
  color: #0F1519;
}

.product-price{
  font-size: x-large;
}

.badge {
  font-size: small;
}

.product-condition-badge {
  position: absolute;
  top: 30px;
  right: 5px;
  background-color: #A42435;
  color: #fff;
}

.card-body{
  position: relative;
}



.img-card {
  min-height: 200px;
  max-height: 200px;
}

.card-info {
  font-size: medium;
  color: #69101E;
}
.card-info-icon {
  font-size: x-large;
  color: #69101E;
}

.card-footer {
  background-color: #fff !important;
}

/* Product Card */
.card {
  background-image: linear-gradient(163deg, #7A92A5 0%, #A42435 100%);
  border-radius: 8px;
  transition: all .3s;
 }
 
 .card2 {
  background-color: #fff;
  transition: all .2s;
 }
 
 .card2:hover {
  transform: scale(0.98);
  border-radius: 8px;
 }
 
 .card:hover {
  box-shadow: 0px 0px 30px 1px #69101e4d;
 }

 

/* Go to TOP */
.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}




/* 
BAG
 */

.bag-image {
  height: 50px;
}


.btn-pay {
  width: 200px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px #0F1519;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
}

.btn-pay-icon {
  padding-left: 15px;
}

.btn-pay span:first-of-type {
  color: white;
}

.btn-pay::before {
  width: calc(100% + 40px);
  aspect-ratio: 1/1;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -20px;
  top: 50%;
  transform: translate(-150%, -50%);
  transition-duration: .5s;
  mix-blend-mode: difference;
}

.btn-pay:hover::before,
.btn-pay-icon:hover::before {
  transform: translate(0, -50%); 
}

.btn-pay:active,
.btn-pay-icon:active {
  transform: translateY(4px);
  transition-duration: .3s;
}



 /* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {

  .header-container {
      padding-top: 136px;
  }

  body {
      height: calc(100vh - 136px);
  }
}