<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}"
                id="home-link">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price (low-high)</a>
                <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">By Price (high-low)</a>
                <a href="{% url 'products' %}?sort=age&direction=asc" class="dropdown-item ">By Age (low-high)</a>
                <a href="{% url 'products' %}?sort=age&direction=desc" class="dropdown-item ">By Age (high-low)</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="games-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Board Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="games-link">
                <a href="{% url 'products' %}?category=family" class="dropdown-item">Family Games</a>
                <a href="{% url 'products' %}?category=party" class="dropdown-item">Party Games</a>
                <a href="{% url 'products' %}?category=strategy" class="dropdown-item">Strategy Games</a>
                <a href="{% url 'products' %}?category=kids" class="dropdown-item">Kids Games</a>
                <a href="{% url 'products' %}?category=classic" class="dropdown-item">Classic Games</a>
                <a href="{% url 'products' %}?category=solo_mode" class="dropdown-item">Solo Mode Games</a>
                <a href="{% url 'products' %}?category=role-playing" class="dropdown-item">Role-Playing Games</a>
                <a href="{% url 'products' %}?category=family,party,strategy,kids,classic,solo_mode,role-playing"
                    class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="games-link2"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Classic Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="games-link">
                <a href="{% url 'products' %}?category=chess_sets" class="dropdown-item">Chess Sets</a>
                <a href="{% url 'products' %}?category=backgammon" class="dropdown-item">Backgammon Games</a>
                <a href="{% url 'products' %}?category=carrom" class="dropdown-item">Carrom</a>
                <a href="{% url 'products' %}?category=playing_cards" class="dropdown-item">Playing Cards</a>
                <a href="{% url 'products' %}?category=chess_sets,backgammon,carrom,playing_cards"
                    class="dropdown-item">All Classic Games</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Game Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=dice" class="dropdown-item">Dice</a>
                <a href="{% url 'products' %}?category=plush" class="dropdown-item">Plush</a>
                <a href="{% url 'products' %}?category=collectables" class="dropdown-item">Collectables</a>
                <a href="{% url 'products' %}?category=dice,plush,collectables" class="dropdown-item">All
                    Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All
                    Specials</a>
            </div>
        </li>
    </ul>
</div>