{% extends "account/base.html" %}

{% load i18n %}
<hr>
<h2 class="text-center text-black logo-font mb-4">{% block head_title %}{% trans "Verify Your Email Address" %}{% endblock %}</h2>
<hr>
{% block inner_content %}
    <hr>
    <h2 class="text-center text-black logo-font mb-4">{% trans "Verify Your Email Address" %}</h2>
    <hr>

    <p>{% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}</p>

    <br>
    <div class="text-center">
        <a href="{% url 'home' %}" class="btn btn-aa text-gray">Home</a>
    </div>
{% endblock %}
