{% extends "socialaccount/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="text-center text-black logo-font mb-4">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h2>
<hr>

{% if process == "connect" %}

<p class="text-center">{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}

<p class="text-center">{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
{% endif %}

<br>
<div class="text-center">
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-aa">{% trans "Continue" %}</button>
    <a href="{% url 'profile' %}" class="text-gray btn btn-aa mt-3 mb-3"><i class="fa-solid fa-rotate-left"></i> Back to Login</a>
  </form>
</div>


{% endblock %}